.selector {
  display: inline-flex;
  margin: 0.2rem;
}

.valor {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  background: rgb(243, 243, 243);
  font-size: 10rem;
  color: rgb(0, 0, 0);
}

button {
  height: 15rem;
  width: 3rem;
  background-color: blue;
  border: blue;
  color: #fff;
  font-size: 60px;
}

.boton1 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.boton2 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
img{
  width: 150px;
}
